@font-face {
    font-family: Roboto;
    src: url(../fonts/Montserrat-Regular.ttf);
}

::selection {
    background-color: #59c6ee;
    color: white;
}

* {
    box-sizing: border-box;
    color: #d6d6d6;
    font-family: Roboto;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #252525;
}